<button (click)="goBack()">go back</button>
<div *ngIf="person">
  <h2>
    <u>{{ person.name | uppercase }} Details </u>
  </h2>
  <div>
    <span>id: </span>{{ person.id }}
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="person.name" placeholder="name">
    </label>
  </div>
  <div>
    <label>last name:
      <!-- two ways binding -->
      <input [(ngModel)]="person.lastName" placeholder="lastName">
    </label>
  </div>
  <div>
    <label>age:
      <input min="0" max="120" onkeypress="return false" style="width: 50px" type="number" [(ngModel)]="person.age" placeholder="age">
    </label>
  </div>
  <div>
    <label>date of birth:
      <input [ngModel]="person.fechaNacimiento | date:'yyyy-MM-dd'" (ngModelChange)="person.fechaNacimiento = $event" type="date">
    </label>
  </div>
  <div>
    <label>sex:
      <select [(ngModel)]="person.sexo">
        <option>Female</option>
        <option>Male</option>
      </select>
    </label>
  </div>
</div>
